*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/2260200/pexels-photo-2260200.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  //background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
